* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background-image {
  width: 100%;
}

.pc-icon {
  width: 100%;
}
.search-icon {
  width: 100%;
}
.div-drop-down {
  display: none;
}
.nav-bar {
  display: flex;
  background: #6b3cc9;
  padding: 26px 80px 26px 80px;
  justify-content: space-between;
  height: 77px;
}
.logo-top {
  transform: translateY(-11.11px);
}
.nav-list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 14px;
  gap: 28px;
  color: white;
  align-self: center;
}

/* BODY PART ONE */

.description-and-button {
  background: linear-gradient(256.73deg, #1cbddd, #4dca79);
  color: white;
  transform: translateY(-5px);
}
.description-and-button h2 {
  width: 335px;
  font-family: Inter;
  font-weight: 700;
  line-height: 36px;
  font-size: 36px;
  padding: 24px 34px 0px 40px;
  text-transform: capitalize;
}
.free-consultation {
  margin: 20px 0px 32px 40px;
  width: 214px;
  font-size: 13px;
}
/* BODY PART TWO */

.body-part-two {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}
.services.one {
  display: flex;
  flex-direction: column;
  width: 542px;
  align-self: center;
  gap: 20px;
}
.services.one p,
.services.two p {
  font-size: 100px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}
button {
  background: #f28d35;
  color: white;
  width: 135px;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  border: none;
}
.pc-icon {
  max-width: 414px;
}
.services.one h5,
.services.two h5,
.q-and-a h5 {
  color: #6b3cc9;
  font-family: poppins;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.4px;
}

/* BODY PART THREE */
.body-part-three {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.services.two {
  display: flex;
  flex-direction: column;
  width: 542px;
  align-self: center;
  gap: 20px;
}
.search-icon {
  max-width: 414px;
}
/* Q AND A */
.q-and-a {
  width: 846px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.q-and-a h5 {
  text-align: center;
  margin-bottom: 28px;
}

.qa-icon {
  border-radius: 7px;
  padding: 24px;
  margin-bottom: 13px;
  background: #faf8ff;
  position: relative;
}
.answer {
  color: #6f6c90;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-top: 6px;
  display: none;
}

.fa-minus {
  position: absolute;
  right: 5%;
  top: 30px;
  display: none;
}
.fa-plus {
  position: absolute;
  right: 5%;
  top: 30px;
}

.qa {
  font-family: inter;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
.fa-minus:hover,
.fa-plus:hover {
  cursor: pointer;
}

/* FOR JS */
.answer.show {
  display: block;
}
.fa-minus.show {
  display: block;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background: #6b3cc9;
  color: white;
  padding: 40px 80px 20px 80px;
  /* gap: 40px; */
  gap: 8px;
}
.footer-top {
  display: flex;
  /* border: 2px black solid; */
  justify-content: space-between;
}

.footer-top .left {
  width: 413px;
  font-family: lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}
.goal {
  padding-top: 20px;
}
.footer-top .right {
  display: flex;
  /* border: 2px black solid; */
  gap: 128px;
  font-family: inter;
  margin-bottom: 40px;
}

.footer-bottom {
  margin: 0 auto;
  display: flex;
  gap: 8px;
  align-items: center;
  text-transform: capitalize;
  font-family: inter;
}
.line.one {
  width: 630px;
  border: 1px solid white;
  margin: 0 auto;
}
.line.two {
  border: 1px solid white;
  width: 16px;
  rotate: 90deg;
}
ul {
  list-style: none;
}

ul.our-technologies,
ul.our-services {
  font-size: 14px;
  line-height: 28.94px;
  text-transform: capitalize;
}

.topic {
  font: inter;
  font-size: 21px;
  font-weight: 600;
  line-height: 25.41px;
  padding-bottom: 12px;
}

/* R E S P O N S I V E */

@media (min-width: 375px) and (max-width: 768px) {
  /* BODY PART ONE */

  .description-and-button {
    /* width: 62vw; */
    background-color: antiquewhite;
    display: block;
    /* bottom: 5%;
    left: 5%; */
  }
  .description-and-button h2 {
    /* width: 556px; */
    font-weight: 700;
    /* line-height: 7vh; */
    /* font-size: 4vw; */
    padding: 24px 34px 0px 40px;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
  }
  .nav-list {
    display: none;
  }
  .div-drop-down {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    gap: 6px;
  }
  .drop {
    background-color: white;
    width: 31px;
    height: 4px;
    border-radius: 5px;
    /* margin: 6px; */
  }

  /* BODY PART TWO */
  .body-part-two {
    display: block;
    width: 335px;
    margin: 80px 0;
    text-align: center;
    margin: 0 auto 80px;
  }
  .services.one {
    width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .services.one p,
  .services.two p {
    /* font-size: 100px;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px; */
    text-align: center;
    width: 335px;
  }
  button {
    margin: 0 auto;
  }

  .services.one h5,
  .services.two h5,
  .q-and-a h5 {
    width: 335px;
    /* color: #6b3cc9;
      font-family: poppins;
      font-weight: 600;
      font-size: 27px;
      line-height: 33px;
      letter-spacing: 0.4px; */
  }
  /* BODY PART THREE */

  .body-part-three {
    display: block;
    text-align: center;
    width: 335px;
    margin: 0 auto;
  }
  .services.two {
    display: flex;
    flex-direction: column;
    width: 335px;
    align-self: center;
    gap: 20px;
  }
  /* Q AND A */
  .q-and-a {
    width: 334px;
    margin-top: 80px;
  }

  .answer {
    font-size: 16px;
  }

  .qa {
    font-size: 20px;
  }

  /* FOOTER */
  footer {
    display: block;
    text-align: left;
    /* flex-direction: column; */
    background: #6b3cc9;
    color: white;
    padding: 40px 20px 20px 20px;
    /* gap: 40px; */
    gap: 8px;
  }
  .footer-top {
    display: block;
    /* border: 2px black solid; */
    justify-content: space-between;
  }

  .footer-top .left {
    width: 335px;
    margin-bottom: 60px;
  }

  .footer-top .right {
    display: block;
    /* border: 2px black solid; */
    gap: 128px;
    margin-bottom: 60px;
  }
  .our-technologies {
    margin-bottom: 60px;
  }

  .our-technologies li:nth-child(6),
  .our-technologies li:nth-child(7) {
    display: none;
  }
  .our-services li:nth-child(5),
  .our-services li:nth-child(6) {
    display: none;
  }

  .footer-bottom {
    margin: 0 auto;
    /* display: flex; */
    gap: 8px;
    justify-content: center;
    margin-top: 8px;
  }
  .line.one {
    width: 335px;
    margin: 0 auto;
  }
  .line.two {
    border: 1px solid white;
    width: 16px;
    rotate: 90deg;
  }

  ul.our-technologies,
  ul.our-services {
    font-size: 16px;
    /* gap: 12px;  */
    line-height: 28.94px;
    text-transform: capitalize;
  }
  .goal {
    width: 335px;
    font-size: 16px;
    font-weight: 400;
  }
  .topic {
    font: inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* one */

  .description-and-button {
    background: linear-gradient(256.73deg, #1cbddd, #4dca79);
    color: white;
    transform: translateY(-5px);
  }
  .description-and-button h2 {
    width: 668px;
    font-family: Inter;
    font-weight: 700;
    line-height: 36px;
    font-size: 36px;
    padding: 24px 34px 0px 40px;
  }
  .free-consultation {
    margin: 20px 0px 32px 40px;
    width: 214px;
    font-size: 13px;
  }
  /* BODY PART THREE */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-self: baseline;
    /* border: 2px solid black; */
    padding: 20px 40px 20px 40px;
  }

  .body-part-three {
    display: flex;
    /* border: 2px black solid; */
  }
  .services.two {
    display: flex;
    /* flex-direction: column; */
    width: 393px;
    /* align-self: center; */
    /* border: 2px black solid; */
    /* border: 2px black solid; */
  }
  .pc-icon {
    max-width: 245px;
  }
  .search-icon {
    max-width: 245px;
  }
  .services.one {
    display: flex;
    /* flex-direction: column; */
    width: 393px;
    /* align-self: center; */
    /* border: 2px black solid; */
    /* border: 2px black solid; */
  }
  /* Q AND A */
  .q-and-a {
    width: 688px;
  }
  .qa {
    font-size: 18px;
  }

  /* FOOTER */
  footer {
    display: block;
    text-align: left;
    /* flex-direction: column; */
    background: #6b3cc9;
    color: white;
    padding: 40px 40px 20px 40px;
    /* gap: 40px; */
    gap: 8px;
  }
  .footer-top {
    display: block;
    /* border: 2px black solid; */
    justify-content: space-between;
  }

  .footer-top .left {
    width: 413px;
    margin-bottom: 60px;
  }

  .footer-top .right {
    display: flex;
    /* border: 2px black solid; */
    gap: 79px;
    margin-bottom: 60px;
  }
  .our-technologies {
    margin-bottom: 60px;
  }

  .our-technologies li:nth-child(6),
  .our-technologies li:nth-child(7) {
    display: none;
  }
  .our-services li:nth-child(5),
  .our-services li:nth-child(6) {
    display: none;
  }

  .footer-bottom {
    margin: 0 auto;
    /* display: flex; */
    gap: 8px;
    justify-content: center;
    margin-top: 8px;
  }
  .line.one {
    width: 630px;
  }
  .line.two {
    border: 1px solid white;
    width: 16px;
    rotate: 90deg;
  }

  ul.our-technologies,
  ul.our-services {
    font-size: 14px;

    line-height: 28.94px;
  }
  .goal {
    width: 413px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .body-part-one {
    position: relative;
  }
  .description-and-button {
    width: 630px;

    position: absolute;
    bottom: 5%;
    left: 5%;
    background: linear-gradient(256.73deg, #1cbddd, #4dca79);
    color: white;
  }
  .description-and-button h2 {
    font-family: Inter;
    font-weight: 700;
    line-height: 48px;
    font-size: 48px;
    padding: 24px 34px 0px 40px;

    width: 630px;
  }
}
